<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aviccii.mapper.EmpolyeeMapper">
    <resultMap id="empolyeeResult" type="Empolyee">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        
        <association property="department" column="depid" javaType="Department" select="getDepartment"/>
    </resultMap>
    <select id="queryEmpList" resultMap="empolyeeResult">
        SELECT * FROM empolyee
    </select>

    <select id="getDepartment" resultType="Department">
        select * from department where id= #{id}
    </select>

    <select id="deleteEmpolyeeById" resultType="Empolyee">
        delete  from empolyee where id = #{id}
    </select>

    <select id="alter" resultType="Empolyee">
        update empolyee set name=#{name}, email=#{email}, gender=#{gender}, salary=#{salary}, depid=#{depid} where id=#{id}
    </select>
</mapper>
